/* @import-normalize; */
body {
  margin: 0;
  padding: 0;
}
.container{
  max-width: 100%;
  background-color: #ffc13c;

}
.Header {
  background-color: #ffc13c;
  height: 9.4vh;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin-bottom: 5px;
}

.logo-item {
  float: left;
  margin-left: 19.4vw;
  max-width: 19vw;
  max-height: 8vh;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 3vw;
}
